body.dark {
	background-color: #0B141B;
}

div.navigation
{
	color:#EDEBE8;
	background-color:#121C26;
	padding:10px;
}

div.articleHolder
{
	max-width:800px;
	margin-inline: auto;
}

div.article
{
	color:#EDEBE8;
	background-color:#121C26;
	padding:10px;
	border-radius:10px;
	margin-top: 10px;
}

h1.article-title
{
	margin:20px;
	margin-bottom: 0px;
}

h2.article-date
{
	font-size: 18px;
	margin-left: 20px;
	margin-top: 2px;
}

p.article-body
{
	padding-left:40px;
	padding-right:40px;
	font-size:5mm;
}

img.article-image
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	display: block;
}