/*20px = 5mm -> 4 px = 1 mm*/


body.dark
{
	background-color: #0B141B;
	/*max-width: 300mm;*/
	min-width: 200mm;
	width: min(100%, 300mm);
	margin-inline: auto;
}

div.logoMobile
{
	display: none;
}

div.navigation
{
	color:#EDEBE8;
	background-color:#121C26;
	padding:2.5mm;
	border-radius: 2.5mm;

	margin-left: 63mm;
}

div.articleNavigation
{
	float: left;
	width: 60mm;
	height: 300mm;
	background-color:#121C26;
	margin:2.5mm;
	margin-left: .43mm;
	margin-top: 0mm;
	border-radius: 2.5mm;
}

@media (max-width:230mm)
{
	div.logoMobile
	{
		display: contents;
	}
	div.articleNavigation
	{
		display: none;
	}
	div.navigation
	{
		margin-left: 0mm;
	}
	body.dark
	{
		min-width: 100%;
	}
	div.articleHolder
	{
		width:100%;
		min-width: 100%;
	}
}

div.articleHolder
{
	display: inline-block;
	/*max-width:200mm;*/
	/*margin-inline: auto;*/
	/*margin-inline-start: 300px;*/
	width: calc(100% - 63mm);
	/*min-width: calc(100% - 63mm);*/
}

div.article
{
	color:#EDEBE8;
	background-color:#121C26;
	padding:2.5mm;
	border-radius:2.5mm;
	margin-top: 2.5mm;
}

h1.article-title
{
	margin:5mm;
	margin-bottom: 0mm;
}

h2.article-date
{
	font-size: 4.5mm;
	margin-left: 5mm;
	margin-top: .5mm;
}

p.article-body
{
	padding-left:10mm;
	padding-right:10mm;
	font-size:5mm;
}

img.article-image
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5mm;
	margin-bottom: 5mm;
	width: 50%;
	display: block;
}




div.header
{
	color:#EDEBE8;
	background-color:#121C26;
	padding:1mm;
	max-width: 200mm;
	margin-inline: auto;
}

div.restrauntHolder
{
	color:#EDEBE8;
	background-color:#121C26;
	margin-top: 2mm;
	margin-inline: auto;
}

table.restrauntsTable {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #EDEBE8;
	/*border-collapse: collapse;*/
	/*border-radius:2.5mm;*/
}
  
th.restrauntsTable {
	text-align: center;
	padding: 16px;
	border: .1mm solid #EDEBE8;
	font-size: 8mm;
	background-color: #213346;
	/*border-radius:2.5mm;*/
}
td.restrauntsTable {
	text-align: center;
	padding: 16px;
	border: .1mm solid #EDEBE8;
}

/*
tr:nth-child(even) {}*/